.form {
  display: flex;
  flex-direction: column;
  margin: 10px 40px;
  .show-form {
    display: none;
    margin: 50px 20px;
    padding: 20px;
  }

  .regular-t,
  .hidden-t {
    padding: 5px;
    margin: 20px;
  }

  .regular-fields {
    display: flex;
    flex-direction: column;
    margin: 20px;

    .regular-input {
      display: block;
      min-width: 100px;
    }

    .regular-label {
      display: block;
      width: 200px;
    }
  }
}
