.window {
    position: relative;
    margin: 10px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    word-wrap: break-word;
    box-shadow: 3px 5px 9px #bccfc3;
    border-radius: 5px;
    border: 1px solid;
    .skus{
        padding: 0 13px;
    }
    .check {
      position: absolute;
      top: 5px;
      left: 5px;
    }
    p {
      margin: 5px;
      text-align: center;
    }
  }

.form-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}