@import "./add";
@import "./list";
@import "./404";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  padding-left: 30px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
  margin-bottom: 50px;
}

.page {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px;
  height: 100vh;

  .button {
    position: absolute;
    top: 46px;
    right: 75px;
  }

  .choose {
    position: absolute;
    top: 45px;
    right: 160px;
  }
}

footer {
  margin-top: auto;
}

.main-btn{
	max-width: 300px;
}