.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 40px;
}

.form .show-form {
  display: none;
  margin: 50px 20px;
  padding: 20px;
}

.form .regular-t,
.form .hidden-t {
  padding: 5px;
  margin: 20px;
}

.form .regular-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.form .regular-fields .regular-input {
  display: block;
  min-width: 100px;
}

.form .regular-fields .regular-label {
  display: block;
  width: 200px;
}

.window {
  position: relative;
  margin: 10px;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 200px;
  word-wrap: break-word;
  -webkit-box-shadow: 3px 5px 9px #bccfc3;
          box-shadow: 3px 5px 9px #bccfc3;
  border-radius: 5px;
  border: 1px solid;
}

.window .skus {
  padding: 0 13px;
}

.window .check {
  position: absolute;
  top: 5px;
  left: 5px;
}

.window p {
  margin: 5px;
  text-align: center;
}

.form-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.not-found {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  padding-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid black;
  margin-bottom: 50px;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 40px;
  height: 100vh;
}

.page .button {
  position: absolute;
  top: 46px;
  right: 75px;
}

.page .choose {
  position: absolute;
  top: 45px;
  right: 160px;
}

footer {
  margin-top: auto;
}

.main-btn {
  max-width: 300px;
}
/*# sourceMappingURL=main.css.map */